
/* cuerpo */
.contenedor-principal {
    display: flex;
    flex-direction: column; /* Por defecto, columna para móviles */
    background-color: #000;
    color: white;
    align-items: center;
}
.presentacion h3{
    background: linear-gradient(to right,#cb6ce6, rgb(30, 167, 247));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}
.presentacion h1{
    margin-bottom: 40px;
}
.presentacion {
    /* Tus estilos existentes */
    margin-left: 20px;
    flex: 1; /* Permite que el contenido se expanda para ocupar el espacio disponible */
} 
.imagen img {
    max-width: 100%;
    /* width: 700px;
    height: 500px; */
    flex: 1; /* Permite que la imagen se expanda para ocupar el espacio disponible */
}
.presentacion button {
    background-color: #cb6ce6; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px;
    a{
        color: white;
        font-size: 20px;
        text-decoration: none;
    } 
}

.descripcion{
    background-color: #18171f;
    padding: 60px;
    color: white;  
   
}
.descripcion ul, ol{
    list-style-type: none;
 
}


.descripcion h2{
    background: linear-gradient(to right,#cb6ce6, rgb(106, 192, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    font-size: 40px;

}

.descripcion button {
    background-color: #cb6ce6;
    color: white; 
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 50px;
    padding: 10px;
}

.descripcion2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
  
.materiales, .fabricacion, .envio {
    color: #919191;
    text-align: center; 
}
  
.materiales img, .fabricacion img, .envio img {
    max-width: 100%; 
    margin-bottom: 20px;
}

.descripcion3{
    border-top: 2px solid #333;
    padding-top: 20px;
    
    color: white;
    background-color: #18171f;
}
.descripcion3 h4{
    display: flex;
    justify-content: center;

    background: linear-gradient(to right,#cb6ce6, rgb(106, 192, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 80px;
    margin-bottom: 30px;
   
}

.descripcion3 h2{
    display: flex;
    justify-content: center;
    margin-left: 55px;
    margin-bottom: 20px;
}
.descripcion3 ul li{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
details summary {
    cursor: pointer;
}

details[open] summary {
    /* Estilo para cuando la sección está abierta */
    font-weight: bold;
}
.mostrar{
    padding: 60px;
}
.mostrar summary {
    padding: 30px;
    border: solid 1px rgba(255, 255,255, 0.2)
}
.mostrar p{
    padding: 30px;
    border: solid 1px rgba(255, 255, 255, 0.2)

}
/*Fin cuerpo*/
@media (min-width: 768px) {

    .contenedor-principal{
         display: flex;
         font-size: 20px;
         padding: 150px;   
         flex-direction: row; 
         color: white;
         background-color: #000;
         
         justify-content: space-between; 
   }

   .imagen img{
        width: 700px;
        height: 500px;
   }

   .descripcion{
        column-count: 2;
        column-width: 310px;
        flex-direction: column; 
        font-size: 15px;
        background-color: #18171f;
        color: white;  
   }

   .descripcion2{
        display: flex;
        flex-wrap: wrap; 
        gap: 20px; 
        justify-content: center;

   }

   .materiales, .fabricacion, .envio {
   
        display: flex; 
        align-items: center; 
        gap: 20px; 
        color: #919191;
        text-align: left; 
        max-width: 400px; 
        margin-bottom: 20px;
        margin-top: 20px;
   
    }

  .materiales img, .fabricacion img, .envio img {
        max-width: 80px; 
        height: auto; 
    }

  .materiales p, .fabricacion p, .envio p { 
        padding: 10px;
        text-align: left;
        margin-bottom: 5px;
        line-height: 1.2;
    }

  .imagen-texto {
        display: flex;
        align-items: center;
    }
  
  .imagen-texto img {
        width: 100px;
    }

   /* tienda */

   .productos img {
        width: 400px;
        height: 400px; 
     
    }

    

}









  





